body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Ngăn cuộn ngang */
}

.zalo-logo {
  position: fixed;
  /* Giữ logo ở vị trí cố định */
  left: 10px;
  /* Cách lề trái */
  bottom: 20px;
  /* Cách đáy */
  width: 50px;
  /* Kích thước logo */
  animation: blink 1s infinite;
  /* Hiệu ứng nhấp nháy */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
    /* Đầy đủ */
  }
  50% {
    opacity: 0;
    /* Ẩn */
  }
}
